html, body {
    margin: 0px;
}

.home{
    border: 2px solid black;
    display: flex;
    min-height: 99vh;
}

.sidebar{    
    min-height: 100%;
    border: 2px solid green;
    width: 200px;
    background: white;
    transition: 0.3s;
      z-index: 98;

}

.lol{
    height: 20px;
    width: 50px;

    position:absolute;
    left : 203px;
    top:10%;
    transition: 0.3s;
  z-index: 99;

}

.content{
    display: flex;
    min-height: 100%;
    border: 3px solid red;
    width: 100%;
    flex-direction: column;
}

.header{
    height: 20px;
    border: 2px solid blue;
    min-width: 100%;
}

.insideContent{
    height: 100%;
    background-color: rgba(94, 94, 116, 0.377);
    min-width: 100%;
    border: 2px solid yellow;
}

.overlay{
    background-color: rgba(211, 25, 25, 0.308);
    height: 100%;
    width:100%;
    position: absolute;
  left: 0px;
  top: 0px;
    transition: 1.3s;
    z-index: 90;
}